<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- Launch gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="paused" value="true"/>
      <arg name="use_sim_time" value="true"/>
      <arg name="gui" value="true"/>
      <arg name="headless" value="false"/> 		<!-- Inert - see gazebo_ros_pkgs issue #491 -->
      <arg name="recording" value="false"/>
      <arg name="debug" value="false"/>
    </include>
  
   
  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="mustard_bottle_spwaner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-file $(find ycb_models_desc)/urdf/mustard_bottle.urdf -urdf -x 0 -y 0 -model mustard_bottle"/>
  
  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="power_drill_spwaner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-file $(find ycb_models_desc)/urdf/power_drill.urdf -urdf -x 1 -y 1 -model power_drill"/>

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="pudding_box_spwaner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-file $(find ycb_models_desc)/urdf/pudding_box.urdf -urdf -x -1 -y -1 -model pudding_box"/>
</launch>
