<?xml version="1.0"?>
<robot name="box">

  <link name="world"/>
  
  <link name="base_link">
   <visual>
     <origin xyz="0 0 0" rpy="0 0 0" />
     <geometry>
       <box size="1.5 2.0 0.02" />
     </geometry>
   </visual>
    <collision>
      <geometry>
       <box size="1.5 2.0 0.02" />
      </geometry>
    </collision>
    <inertial>
            <mass value="5" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="0.004" ixy="0.001" ixz="0" iyy="0.006" iyz="0" izz="0.007" />
    </inertial>
  </link>
  
  <joint name="base_world_stand" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="base_link"/>
  </joint>

  <link name="cylinder_link">
    <visual>
      <geometry>
        <cylinder length="0.44" radius="0.10"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.44" radius="0.10"/>
      </geometry>
    </collision>
    <inertial>
            <mass value="2" />
            <origin xyz="0 0 -0.5" rpy="0 0 0" />
            <inertia ixx="0.004" ixy="0.001" ixz="0" iyy="0.006" iyz="0" izz="0.007" />
    </inertial>
  </link>
  
  <joint name="table_stand" type="fixed">
    <origin xyz="-0.125 -0.2 -0.220" rpy="0 0 3.1416"/>
    <parent link="base_link"/>
    <child link="cylinder_link"/>
  </joint>
  
  <gazebo reference="base_link">
    <material>Gazebo/White</material>
  </gazebo>
  
  <gazebo reference="cylinder_link">
    <material>Gazebo/White</material>
  </gazebo>

</robot>
